html, body {
  margin: 0;
  padding: 0;
}

/* formmating for the canvas */
canvas {
display: block;
}

/* formatting for the div that contains the sketch */
#GridColumn, #description {
height: 100vh;
width: 100vw;
padding: 0;
margin: 0;
}

/* formatting for other elements (description) */
#description {
text-align: center;
font-size: 1.5em;
}
